@import "tailwindcss";

:root {
  --color-worst-50: #00aa00;
  --color-worst-100: #f20000;
  --color-worst-200: #0000aa;
  --color-worst-300: #00aa00;
  --color-worst-400: #aaaa00;
  --color-worst-500: #ff00ff;
  --color-worst-600: #00aaaa;
  --color-worst-700: #ffa500;
  --color-worst-800: #800080;
  --color-worst-900: #008000;
}

.bg-worst {
  background-color: var(--color-worst-50);
}
.bg-worst-accent {
  background-color: var(--color-worst-400);
}
.text-worst-primary {
  color: var(--color-worst-200);
}
.text-worst-secondary {
  color: var(--color-worst-300);
}
.text-worst-tertiary {
  color: var(--color-worst-400);
}
.text-worst-accent {
  color: var(--color-worst-100);
}
